

export(JSONtoDataFrame)
export(XMLtoDataFrame)
export(YAMLtoDataFrame)
export(apiData)
export(apiDownload)
export(generateQueryFunction)
export(getTabularData)
export(getdata)
export(is.apidata)
export(is.apirequest)
export(is.apiresponse)
export(saveAPIkey)
exportClasses(apirequest, apiresponse, sapiresponse, apidata, sapidata)
exportMethods(print, show, plot, summary)
import(RCurl)
import(XML)
import(XML2R)
import(httr)
import(igraph)
import(methods)
import(mime)
import(plyr)
import(yaml)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,validate)
importFrom(stringr, str_wrap)
importFrom(stringr, str_count)
importFrom(stringr, str_sub)
importFrom(stringr, str_extract_all)
importFrom("stats", "embed")
importFrom("utils", "flush.console", "setTxtProgressBar",
             "txtProgressBar")
importFrom("grDevices", "as.raster", "col2rgb", "rainbow")
importFrom("graphics", "lines", "par", "polygon", "rasterImage",
             "segments", "symbols", "text", "xspline", "xyinch")
importFrom("stats", "ave", "na.omit")

